@import './variables.css';

:root {
  /* We have to do all of the color manipulation here because
   * `postcss-color-mod-function` will only pick up CSS variables from the `:root`
   * declaration.
   */
  --caribbean-text-color: #ffffff;
  --caribbean-hover-color: color-mod(var(--caribbean) saturation(-2%) shade(10%));
  --caribbean-subdued-hover-color: color-mod(var(--caribbean) alpha(5%));
  --caribbean-disabled-color: color-mod(var(--caribbean) saturation(-20%) shade(5%) alpha(-30%));
  --caribbean-disabled-hover-color: color-mod(var(--caribbean) shade(5%));
  --caribbean-disabled-text-color: color-mod(
    var(--caribbean-text-color) saturation(-20%) alpha(-40%)
  );

  --jaffa-text-color: #ffffff;
  --jaffa-hover-color: color-mod(var(--jaffa) saturation(-2%) shade(10%));
  --jaffa-subdued-hover-color: color-mod(var(--jaffa) alpha(5%));
  --jaffa-disabled-color: color-mod(var(--jaffa) saturation(-20%) shade(5%) alpha(-30%));
  --jaffa-disabled-hover-color: color-mod(var(--jaffa) shade(5%));
  --jaffa-disabled-text-color: color-mod(var(--jaffa-text-color) saturation(-20%) alpha(-40%));

  --ruby-text-color: #ffffff;
  --ruby-hover-color: color-mod(var(--ruby) saturation(-2%) shade(10%));
  --ruby-subdued-hover-color: color-mod(var(--ruby) alpha(5%));
  --ruby-disabled-color: color-mod(var(--ruby) saturation(-20%) shade(5%) alpha(-30%));
  --ruby-disabled-hover-color: color-mod(var(--ruby) shade(5%));
  --ruby-disabled-text-color: color-mod(var(--ruby-text-color) saturation(-20%) alpha(-40%));

  --thunder-text-color: #ffffff;
  --thunder-hover-color: color-mod(var(--thunder) saturation(-2%) shade(10%));
  --thunder-subdued-hover-color: color-mod(var(--thunder) alpha(5%));
  --thunder-disabled-color: color-mod(var(--thunder) saturation(-20%) shade(5%) alpha(-30%));
  --thunder-disabled-hover-color: color-mod(var(--thunder) shade(5%));
  --thunder-disabled-text-color: color-mod(var(--thunder-text-color) saturation(-20%) alpha(-40%));

  --pampas-text-color: var(--base-text-color);
  --pampas-hover-color: color-mod(var(--pampas) saturation(-2%) shade(10%));
  --pampas-subdued-hover-color: color-mod(var(--base-text-color) alpha(5%));
  --pampas-disabled-color: color-mod(var(--pampas) saturation(-20%) shade(5%) alpha(-30%));
  --pampas-disabled-hover-color: color-mod(var(--pampas) shade(5%));
  --pampas-disabled-text-color: color-mod(var(--pampas-text-color) saturation(-20%) alpha(-40%));

  --clouds-text-color: var(--base-text-color);
  --clouds-hover-color: color-mod(var(--clouds-content) saturation(-2%) shade(10%));
  --clouds-subdued-hover-color: color-mod(var(--clouds-content) alpha(5%));
  --clouds-disabled-color: color-mod(var(--clouds-content) saturation(-20%) shade(5%) alpha(-30%));
  --clouds-disabled-hover-color: color-mod(var(--clouds-content) shade(5%));
  --clouds-disabled-text-color: color-mod(var(--clouds-text-color) saturation(-20%) alpha(-40%));
}

:where(.button--size-normal, .button--size-small, .button--size-xsmall) {
  display: inline-block;
  padding: 0.8em 3.5em;
  background: none;
  border: none;
  outline: none;

  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;

  cursor: pointer;

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
  }
}

.button--size-normal {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.button--size-small {
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
}

.button--size-xsmall {
  padding: 0.4em 1.75em;

  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
}

.button--kind-primary {
  background-color: var(--button-primary-color);
  border: none;
  border-radius: 0.5em;

  color: var(--button-text-color);

  transition: background-color 0.1s ease, border-color 0.1s ease;

  &:hover,
  &:focus {
    background: var(--button-hover-color);
    text-decoration: none;
  }

  &:focus {
    outline: 1px solid var(--button-hover-color);
  }

  &.disabled,
  &[disabled] {
    background-color: var(--button-disabled-color);
    border-color: var(--button-disabled-color);
    color: var(--button-disabled-text-color);

    &:hover,
    &:focus {
      background-color: var(--button-disabled-hover-color);
      border-color: var(--button-disabled-hover-color);
    }
  }
}

.button--kind-subdued {
  border: 1px solid var(--button-primary-color);
  border-radius: 0.5em;
  color: var(--button-primary-color);

  transition: background-color 0.1s ease, border-color 0.1s ease;

  &:hover,
  &:focus {
    background-color: var(--button-subdued-hover-color);
  }

  &.disabled,
  &[disabled] {
    border-color: var(--button-subdued-hover-color);
    color: var(--button-disabled-color);
  }
}

.button--color-caribbean {
  --button-primary-color: var(--caribbean);
  --button-hover-color: var(--caribbean-hover-color);
  --button-subdued-hover-color: var(--caribbean-subdued-hover-color);
  --button-disabled-color: var(--caribbean-disabled-color);
  --button-text-color: var(--caribbean-text-color);
  --button-disabled-hover-color: var(--caribbean-disabled-hover-color);
  --button-disabled-text-color: var(--caribbean-disabled-text-color);
}

.button--color-jaffa {
  --button-primary-color: var(--jaffa);
  --button-hover-color: var(--jaffa-hover-color);
  --button-subdued-hover-color: var(--jaffa-subdued-hover-color);
  --button-text-color: var(--jaffa-text-color);
  --button-disabled-color: var(--jaffa-disabled-color);
  --button-disabled-hover-color: var(--jaffa-disabled-hover-color);
  --button-disabled-text-color: var(--jaffa-disabled-text-color);
}

.button--color-ruby {
  --button-primary-color: var(--ruby);
  --button-hover-color: var(--ruby-hover-color);
  --button-subdued-hover-color: var(--ruby-subdued-hover-color);
  --button-text-color: var(--ruby-text-color);
  --button-disabled-color: var(--ruby-disabled-color);
  --button-disabled-hover-color: var(--ruby-disabled-hover-color);
  --button-disabled-text-color: var(--ruby-disabled-text-color);
}

.button--color-thunder {
  --button-primary-color: var(--thunder);
  --button-hover-color: var(--thunder-hover-color);
  --button-subdued-hover-color: var(--thunder-subdued-hover-color);
  --button-text-color: var(--thunder-text-color);
  --button-disabled-color: var(--thunder-disabled-color);
  --button-disabled-hover-color: var(--thunder-disabled-hover-color);
  --button-disabled-text-color: var(--thunder-disabled-text-color);
}

.button--color-pampas {
  --button-primary-color: var(--pampas);
  --button-hover-color: var(--pampas-hover-color);
  --button-subdued-hover-color: var(--pampas-subdued-hover-color);
  --button-text-color: var(--pampas-text-color);
  --button-disabled-color: var(--pampas-disabled-color);
  --button-disabled-hover-color: var(--pampas-disabled-hover-color);
  --button-disabled-text-color: var(--pampas-disabled-text-color);

  &.button--kind-primary {
    border: 1px solid var(--pampas-border);
  }

  &.button--kind-subdued {
    --button-primary-color: var(--pampas-text-color);
  }
}

.button--color-clouds {
  --button-primary-color: var(--clouds-content);
  --button-hover-color: var(--clouds-hover-color);
  --button-subdued-hover-color: var(--clouds-subdued-hover-color);
  --button-text-color: var(--clouds-text-color);
  --button-disabled-color: var(--clouds-disabled-color);
  --button-disabled-hover-color: var(--clouds-disabled-hover-color);
  --button-disabled-text-color: var(--clouds-disabled-text-color);
}
