@font-face {
  font-family: 'SourceSansLocal';
  font-style: normal;
  font-weight: bold;
  src: local('SourceSansPro-Bold');
}
@font-face {
  font-family: 'SourceSansLocal';
  font-style: italic;
  font-weight: bold;
  src: local('SourceSansPro-BoldIt');
}
@font-face {
  font-family: 'SourceSansLocal';
  font-style: normal;
  font-weight: 200;
  src: local('SourceSansPro-ExtraLight');
}
@font-face {
  font-family: 'SourceSansLocal';
  font-style: italic;
  font-weight: normal;
  src: local('SourceSansPro-It');
}
@font-face {
  font-family: 'SourceSansLocal';
  font-style: normal;
  font-weight: 300;
  src: local('SourceSansPro-Light');
}
@font-face {
  font-family: 'SourceSansLocal';
  font-style: normal;
  font-weight: normal;
  src: local('SourceSansPro-Regular');
}
@font-face {
  font-family: 'SourceSansLocal';
  font-style: normal;
  font-weight: 600;
  src: local('SourceSansPro-Semibold');
}
@font-face {
  font-family: 'source-sans-pro';
  src: url('//cdn02.gitter.im/_s/0f349ae51/fonts/sourcesans/SourceSansPro-Regular.otf.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source-sans-pro';
  src: url('//cdn01.gitter.im/_s/0f349ae51/fonts/sourcesans/SourceSansPro-It.otf.woff')
    format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'source-sans-pro';
  src: url('//cdn03.gitter.im/_s/0f349ae51/fonts/sourcesans/SourceSansPro-Bold.otf.woff')
    format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'source-sans-pro';
  src: url('//cdn02.gitter.im/_s/0f349ae51/fonts/sourcesans/SourceSansPro-Semibold.otf.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'source-sans-pro';
  src: url('//cdn01.gitter.im/_s/0f349ae51/fonts/sourcesans/SourceSansPro-BoldIt.otf.woff')
    format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'source-sans-pro';
  src: url('//cdn02.gitter.im/_s/0f349ae51/fonts/sourcesans/SourceSansPro-Light.otf.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'source-sans-pro';
  src: url('//cdn02.gitter.im/_s/0f349ae51/fonts/sourcesans/SourceSansPro-ExtraLight.otf.woff')
    format('woff');
  font-weight: 200;
  font-style: normal;
}
