*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  /* Margin reset so we can deal with margin in a single direction,
   * see https://csswizardry.com/2012/06/single-direction-margin-declarations/ */
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1em;
  line-height: 1.5;
  /* Bundled Fonts -> Web Fonts -> System Font (Look terrible on windows)  -> System
   * Default Fonts -> Standard Web Fallbacks
   */
  font-family: 'SourceSansLocal', 'source-sans-pro', 'Source Sans Pro',
    /*
             * native ios and android cant read from "/_s/l", but they look better with
             * the same system fonts as the native elements anyway
             */ -apple-system,
    'Roboto', /*
             * fonts for when our cdn explodes
             */ 'pt sans', 'calibri',
    sans-serif;
}

:where(
    /* The headings already have line-heights that match up great. */
    /* h1,
    h2,
    h3,
    h4,
    h5,
    h6, */
    ul,
    ol,
    dl,
    blockquote,
    p,
    address,
    hr,
    table,
    fieldset,
    figure,
    pre,
    details,
    [open] > summary,
    .margin-rhythm
  ):not(.no-margin-rhythm) {
  /* Only deal with margin in a single direction,
   * see https://csswizardry.com/2012/06/single-direction-margin-declarations/ */
  margin-bottom: 1.5rem;
}

:where(h1, h2, h3, h4) {
  font-weight: normal;
  letter-spacing: -1px;
}

:where(h1) {
  font-size: 37.89px;
  line-height: 61px;
}

:where(h2) {
  font-size: 28.43px;
  line-height: 45px;
}

:where(h3) {
  font-size: 21.32px;
  line-height: 34px;
}

:where(h1) {
  position: relative;
  margin-bottom: 3rem;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    display: block;
    width: 60px;
    height: 3px;
    background: currentColor;
    opacity: 0.1;
  }
}

.heading-anchor-link {
  margin-left: 1ch;

  opacity: 0;

  transition: opacity 0.2s ease;

  &:focus {
    opacity: 1;
  }
}
:where(h1, h2, h3, h4, h5, h6):hover {
  .heading-anchor-link {
    opacity: 1;
  }
}

code {
  background-color: #f4f6fa;
  border: 1px solid #e3e8f0;
  border-radius: 4px;
  padding: 2px 4px;
  margin-left: 0.1ch;
  margin-right: 0.1ch;
}

.panel-content-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;

  @media (max-width: 550px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
