:root {
  --base-text-color: #333333;
  --link-color: #3498db;

  --caribbean: #46bc99;
  --jaffa: #f68d42;
  --ruby: #ed1965;
  --thunder: #3a3133;
  --pampas: #f2f0ed;
  --pampas-border: #d5d5d5;
  --clouds-content: #fffefe;
  --clouds-mock: #783abd;

  /* --gitlab-orange: #fc6d26;
  --facebook-blue: #3B5998;
  --twitter-blue: #55ACEE;
  --linkedin-blue: #0077b5;
  --google-red: #DC4E41; */
}
