---
import BaseLayout, { DEFAULT_SITE_NAVE_ITEMS } from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import HeaderContent from '../components/HeaderContent.astro';
---

<BaseLayout title="Gitter — Where developers come to talk.">
  <section class="intro-panel">
    <div class="panel-content-wrapper">
      <header class="main-header">
        <HeaderContent navItems={DEFAULT_SITE_NAVE_ITEMS} />
      </header>
    </div>

    <div class="panel-content-wrapper intro-main-content-wrapper">
      <div class="intro-map-wrapper">
        <!-- TODO: Add dots that appear and disapear to indicate chatter -->
        <img
          class="intro-map-image"
          srcset="images/map.png, images/map@2x.png 2x"
          src="images/map.png"
          alt=""
          aria-hidden="true"
        />
      </div>

      <div class="intro-title-block">
        <h1 class="intro-title-heading">Where communities thrive</h1>

        <a
          class="gitter-element-news-link"
          href="https://blog.gitter.im/2023/02/13/gitter-has-fully-migrated-to-matrix/"
          target="_blank"
        >
          <svg
            width="32"
            height="32"
            viewBox="39 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d)">
              <rect x="39" width="32" height="32" rx="8" fill="url(#paint0_linear)"></rect>
            </g>
            <rect x="49.5781" y="6.90234" width="1.70308" height="11.3838" fill="white"></rect>
            <rect x="52.625" y="9.67969" width="1.70308" height="15.3277" fill="white"></rect>
            <rect x="55.4922" y="9.67969" width="1.70308" height="15.3277" fill="white"></rect>
            <rect x="58.7188" y="9.67969" width="1.70308" height="8.60504" fill="white"></rect>
            <defs>
              <filter
                id="filter0_d"
                x="0.493008"
                y="0"
                width="109.014"
                height="110.137"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
                <feOffset dy="39.63"></feOffset>
                <feGaussianBlur stdDeviation="19.2535"></feGaussianBlur>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0"
                ></feColorMatrix>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"
                ></feBlend>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"
                ></feBlend>
              </filter>
              <linearGradient
                id="paint0_linear"
                x1="55"
                y1="0"
                x2="55"
                y2="32"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#EB1963"></stop>
                <stop offset="1" stop-color="#CE1358"></stop>
              </linearGradient>
            </defs>
          </svg>

          <svg
            class="gitter-element-news-logo-plus"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.87598 2.12366V13.8758"
              stroke="#74726C"
              stroke-width="2"
              stroke-linecap="round"></path>
            <path
              d="M13.7524 8.00024H2.00033"
              stroke="#74726C"
              stroke-width="2"
              stroke-linecap="round"></path>
          </svg>

          <svg
            width="32"
            height="32"
            viewBox="39 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d)">
              <rect x="38.7529" width="32" height="32" rx="8" fill="#0DBD8B"></rect>
            </g>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M58.5872 13.7667C58.5872 10.7014 56.1023 8.21651 53.037 8.21651C52.3052 8.21651 51.7119 7.62326 51.7119 6.89146C51.7119 6.15965 52.3052 5.56641 53.037 5.56641C57.5659 5.56641 61.2373 9.23781 61.2373 13.7667C61.2373 14.4985 60.6441 15.0918 59.9123 15.0918C59.1804 15.0918 58.5872 14.4985 58.5872 13.7667ZM46.9694 17.7199C46.9694 14.6546 49.4544 12.1696 52.5197 12.1696C53.2515 12.1696 53.8447 11.5764 53.8447 10.8446C53.8447 10.1128 53.2515 9.51953 52.5197 9.51953C47.9907 9.51953 44.3193 13.1909 44.3193 17.7199C44.3193 18.4517 44.9126 19.0449 45.6444 19.0449C46.3762 19.0449 46.9694 18.4517 46.9694 17.7199ZM50.9226 18.2333C50.9226 21.2986 53.4075 23.7835 56.4728 23.7835C57.2046 23.7835 57.7978 24.3767 57.7978 25.1085C57.7978 25.8403 57.2046 26.4336 56.4728 26.4336C51.9439 26.4336 48.2725 22.7622 48.2725 18.2333C48.2725 17.5015 48.8657 16.9082 49.5975 16.9082C50.3293 16.9082 50.9226 17.5015 50.9226 18.2333ZM56.9901 19.8304C60.0554 19.8304 62.5403 17.3454 62.5403 14.2801C62.5403 13.5483 63.1336 12.9551 63.8654 12.9551C64.5972 12.9551 65.1904 13.5483 65.1904 14.2801C65.1904 18.8091 61.519 22.4805 56.9901 22.4805C56.2583 22.4805 55.6651 21.8872 55.6651 21.1554C55.6651 20.4236 56.2583 19.8304 56.9901 19.8304Z"
              fill="white"></path>
            <defs>
              <filter
                id="filter0_d"
                x="0.245937"
                y="0"
                width="109.014"
                height="110.137"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
                <feOffset dy="39.63"></feOffset>
                <feGaussianBlur stdDeviation="19.2535"></feGaussianBlur>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0"
                ></feColorMatrix>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"
                ></feBlend>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"
                ></feBlend>
              </filter>
            </defs>
          </svg>

          <span class="gitter-element-news-link-text">
            Latest news<br />
            Gitter has migrated to Matrix
          </span>
        </a>
      </div>

      <p class="intro-description">
        Gitter is a chat and networking platform that helps to manage, grow and connect communities
        through messaging, content and discovery.
      </p>

      <div class="intro-panel-cta-button-block">
        <a
          class="button--kind-primary button--size-normal button--color-caribbean intro-cta-panel-button"
          href="https://app.gitter.im/"
        >
          <span class="sign-in-full-text">Sign-in to start talking</span>
          <span class="sign-in-short-text">Sign-in</span>
        </a>

        <a
          class="button--kind-subdued button--size-normal button--color-clouds intro-cta-panel-button"
          href="#apps">Get the apps</a
        >
      </div>
      <div class="intro-legal">
        By signing up you agree to our <a
          href="https://static.element.io/pdfs/enterprise-EULA.pdf"
          target="_blank">End User License Agreement</a
        > and <a href="https://static.element.io/pdfs/acceptable-use-policy.pdf" target="_blank"
          >Acceptable Use Policy</a
        >.
      </div>

      <ul class="intro-mini-features-list">
        <li class="intro-mini-feature-item">
          <h2>Built on Matrix</h2>
          <p>
            <a href="https://matrix.org/" target="_blank">Matrix.org</a> is an open network for secure,
            decentralized communication. There is a variety of clients are available. <a
              href="https://matrix.org/clients/"
              target="_blank">Learn more</a
            >
          </p>
        </li>

        <li class="intro-mini-feature-item">
          <h2>Simple to start</h2>
          <p>
            Sign-in with GitHub/GitLab/Twitter and start chatting, with End-to-End Encrypted
            messaging.
          </p>
        </li>

        <li class="intro-mini-feature-item">
          <h2>Markdown and LaTeX</h2>
          <p>Format your messages just like with your other favorite developer tools.</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="trusted-by-panel">
    <div class="panel-content-wrapper">
      <h1 class="trusted-by-heading">Trusted by</h1>

      <ul class="trusted-by-list">
        <li class="trusted-by-list-item">
          <a href="https://gitter.im/airbnb">
            <img
              class="trusted-by-list-item-logo"
              src="/images/trusted-by-logos/trusted-by-airbnb.png"
              alt="AirBnB"
            />
          </a>
        </li>
        <li class="trusted-by-list-item--smaller">
          <a href="https://gitter.im/aws">
            <img
              class="trusted-by-list-item-logo"
              src="/images/trusted-by-logos/trusted-by-aws.png"
              alt="Amazon Web Services"
            />
          </a>
        </li>
        <li class="trusted-by-list-item">
          <a href="https://gitter.im/google">
            <img
              class="trusted-by-list-item-logo"
              src="/images/trusted-by-logos/trusted-by-google.png"
              alt="Google"
            />
          </a>
        </li>
        <li class="trusted-by-list-item">
          <a href="https://gitter.im/microsoft">
            <img
              class="trusted-by-list-item-logo"
              src="/images/trusted-by-logos/trusted-by-microsoft.png"
              alt="Microsoft"
            />
          </a>
        </li>
        <li class="trusted-by-list-item">
          <a href="https://gitter.im/mozillascience">
            <img
              class="trusted-by-list-item-logo"
              src="/images/trusted-by-logos/trusted-by-mozilla-science-lab.png"
              alt="Mozilla Science Lab"
            />
          </a>
        </li>
        <li class="trusted-by-list-item--smaller">
          <a href="https://gitter.im/rails">
            <img
              class="trusted-by-list-item-logo"
              src="/images/trusted-by-logos/trusted-by-rails.png"
              alt="Rails"
            />
          </a>
        </li>
        <li class="trusted-by-list-item--smaller">
          <a href="https://gitter.im/scala">
            <img
              class="trusted-by-list-item-logo"
              src="/images/trusted-by-logos/trusted-by-scala.png"
              alt="Scala"
            />
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="matrix-native-panel">
    <div class="panel-content-wrapper">
      <h1 class="matrix-primary-heading">Matrix native</h1>

      <div class="matrix-native-panel-content">
        <div class="matrix-native-panel-content-description">
          <p class="matrix-description-paragraph">
            Chat that always works and your content is made to last.
          </p>
          <p class="matrix-description-paragraph">
            Available however you want to access Gitter. Just connect your favorite Matrix client to
            the <code>gitter.im</code> homeserver.
          </p>
          <p class="matrix-description-paragraph">
            Internals you'll want to see, it's just JSON, make it yours.
          </p>
          <p class="matrix-description-paragraph">
            <a href="https://matrix.org/" target="_blank">Learn more</a>
          </p>
        </div>

        <div class="matrix-native-panel-content-logo-wrapper">
          <svg
            class="matrix-native-panel-content-logo"
            width="446"
            height="186"
            viewBox="0 0 446 186"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.01531 180.849V5.15076H18.0847V0.935791H0V185.064H18.0847V180.849H5.01531Z"
              fill="white"></path>
            <path
              d="M55.3686 69.7392V60.8479H37.7777V126.515H56.4184V88.4103C56.4184 85.193 56.8993 82.5908 57.8627 80.5998C58.8255 78.6115 59.9838 77.0873 61.3422 76.0278C62.6977 74.971 64.099 74.25 65.5433 73.8689C66.9858 73.4868 68.1453 73.296 69.0217 73.296C71.9972 73.296 74.2506 73.7858 75.7824 74.7562C77.3137 75.7315 78.4081 77.0239 79.0647 78.6311C79.7224 80.2411 80.0931 81.9976 80.1824 83.9039C80.2666 85.8081 80.3123 87.7351 80.3123 89.6824V126.516H98.9536V89.9366C98.9536 87.9046 99.1056 85.8928 99.4136 83.9039C99.7193 81.9129 100.332 80.1356 101.251 78.5672C102.169 77.0025 103.437 75.7315 105.058 74.7562C106.677 73.7858 108.8 73.296 111.425 73.296C114.05 73.296 116.13 73.7219 117.662 74.5654C119.191 75.4128 120.352 76.557 121.141 77.9953C121.928 79.437 122.407 81.1295 122.584 83.0757C122.76 85.0247 122.847 87.0993 122.847 89.2998V126.515H141.49V82.5695C141.49 78.3343 140.876 74.7163 139.652 71.7073C138.424 68.7038 136.718 66.2694 134.531 64.4052C132.343 62.5426 129.717 61.188 126.656 60.3411C123.59 59.4943 120.266 59.0701 116.677 59.0701C111.95 59.0701 107.859 60.1727 104.402 62.3732C100.944 64.5747 98.2089 67.1157 96.1974 69.994C94.3593 65.9288 91.6674 63.0937 88.1224 61.4837C84.5784 59.8764 80.661 59.0701 76.3734 59.0701C71.9107 59.0701 67.9487 60.0038 64.4923 61.8637C61.0337 63.7268 58.0813 66.3547 55.6302 69.7392H55.3686Z"
              fill="white"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M160.784 63.77C157.807 65.4652 155.356 67.7078 153.432 70.503C151.504 73.2955 150.412 76.8112 150.15 81.0437H168.792C169.14 77.4886 170.368 74.947 172.468 73.4228C174.569 71.8987 177.457 71.136 181.133 71.136C182.794 71.136 184.349 71.2443 185.793 71.4531C187.236 71.6658 188.506 72.0895 189.6 72.7242C190.693 73.3589 191.569 74.2494 192.225 75.392C192.882 76.5346 193.21 78.0812 193.21 80.0274C193.295 81.8916 192.726 83.3097 191.503 84.2833C190.276 85.2581 188.615 85.9978 186.514 86.5056C184.414 87.0135 182.006 87.3951 179.294 87.6498C176.58 87.9035 173.824 88.243 171.023 88.665C168.222 89.0909 165.443 89.6611 162.687 90.38C159.929 91.0994 157.479 92.1792 155.336 93.618C153.189 95.0591 151.439 96.9846 150.084 99.3993C148.725 101.81 148.047 104.881 148.047 108.605C148.047 111.991 148.639 114.915 149.821 117.371C151.002 119.826 152.643 121.858 154.744 123.464C156.844 125.076 159.293 126.261 162.095 127.023C164.895 127.784 167.915 128.166 171.154 128.166C175.355 128.166 179.469 127.571 183.496 126.389C187.519 125.203 191.021 123.128 193.997 120.164C194.083 121.266 194.236 122.345 194.457 123.402C194.674 124.462 194.959 125.498 195.31 126.514H214.214C213.338 125.16 212.724 123.128 212.377 120.417C212.026 117.708 211.851 114.874 211.851 111.907V77.7422C211.851 73.7618 210.932 70.5647 209.094 68.1517C207.255 65.7397 204.893 63.8541 202.005 62.5C199.116 61.1469 195.921 60.2356 192.421 59.7682C188.92 59.3041 185.464 59.0701 182.05 59.0701C178.287 59.0701 174.544 59.4314 170.825 60.1503C167.105 60.8709 163.758 62.0769 160.784 63.77ZM186.449 96.9226C187.805 96.6678 189.075 96.3513 190.255 95.9708C191.438 95.5892 192.422 95.0605 193.211 94.381V101.114C193.211 102.13 193.1 103.485 192.883 105.178C192.664 106.874 192.072 108.543 191.11 110.193C190.146 111.846 188.659 113.265 186.647 114.449C184.632 115.636 181.789 116.228 178.113 116.228C176.625 116.228 175.181 116.101 173.782 115.846C172.38 115.594 171.155 115.148 170.106 114.513C169.056 113.879 168.223 113.011 167.61 111.908C166.997 110.81 166.692 109.453 166.692 107.846C166.692 106.153 166.997 104.755 167.61 103.654C168.223 102.556 169.032 101.644 170.04 100.924C171.045 100.204 172.227 99.6341 173.585 99.2083C174.94 98.7868 176.318 98.4451 177.719 98.1931C179.206 97.9389 180.694 97.7284 182.183 97.5573C183.67 97.3889 185.092 97.1768 186.449 96.9226Z"
              fill="white"></path>
            <path
              d="M260.95 72.9213V60.8548H247.298V41.1675H228.656V60.8548H217.366V72.9213H228.656V111.659C228.656 114.963 229.224 117.632 230.363 119.662C231.5 121.694 233.054 123.263 235.023 124.362C236.992 125.464 239.267 126.203 241.85 126.583C244.431 126.965 247.167 127.156 250.055 127.156C251.893 127.156 253.774 127.112 255.699 127.03C257.624 126.944 259.375 126.776 260.95 126.521V112.55C260.076 112.718 259.156 112.847 258.194 112.93C257.231 113.015 256.225 113.057 255.175 113.057C252.024 113.057 249.922 112.549 248.874 111.533C247.823 110.518 247.298 108.484 247.298 105.438V72.9213H260.95Z"
              fill="white"></path>
            <path
              d="M287.6 60.849V73.0429H287.863C288.736 71.0092 289.917 69.127 291.407 67.3896C292.895 65.6555 294.6 64.1723 296.526 62.9445C298.45 61.7188 300.508 60.7659 302.698 60.0864C304.883 59.4101 307.16 59.0701 309.524 59.0701C310.749 59.0701 312.104 59.2833 313.593 59.7059V76.4728C312.717 76.3022 311.667 76.1535 310.443 76.0278C309.217 75.9004 308.036 75.8365 306.898 75.8365C303.484 75.8365 300.596 76.3886 298.234 77.488C295.871 78.589 293.968 80.0908 292.524 81.9966C291.08 83.9028 290.049 86.124 289.437 88.665C288.825 91.2044 288.519 93.9581 288.519 96.9211V126.515H269.878V60.849H287.6Z"
              fill="white"></path>
            <path d="M321.472 50.6914V35.8307H340.115V50.6914H321.472Z" fill="white"></path>
            <path d="M340.113 60.8543V126.521H321.47V60.8543H340.113Z" fill="white"></path>
            <path
              d="M349.823 60.8472H371.09L383.037 77.9941L394.853 60.8472H415.463L393.146 91.5853L418.221 126.514H396.953L382.774 105.811L368.595 126.514H347.724L372.141 91.9674L349.823 60.8472Z"
              fill="white"></path>
            <path
              d="M440.984 5.15076V180.849H427.914V185.064H446V0.935791H427.914V5.15076H440.984Z"
              fill="white"></path>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <section class="apps-panel" id="apps">
    <div class="panel-content-wrapper">
      <div class="apps-screenshot-wrapper">
        <img
          class="apps-screenshot-image"
          srcset="/images/gitter-apps.png, /images/gitter-apps@2x.png 2x"
          src="/images/gitter-apps.png"
        />
      </div>
      <div class="apps-content-wrapper">
        <h1 class="apps-heading">Get Gitter</h1>
        <p class="apps-main-description">
          The Gitter webapp is available in all modern browsers, and there are a variety of Matrix
          clients available. We recommend Element for desktop, Android and iOS native apps.
        </p>
        <p class="app-button-block">
          <a class="app-button" href="https://app.gitter.im/">Gitter Web</a>
          <a class="app-button" href="https://element.io/download">Download Element</a>
        </p>
        <p>
          After downloading Element, be sure to specify <code>gitter.im</code> as the homeserver.
        </p>
      </div>
    </div>
  </section>

  <section class="testimonials-panel">
    <div class="testimonials-content-wrapper panel-content-wrapper">
      <div class="testimonials-quotes">
        <blockquote class="testimonials-quote is-active">
          <div class="testimonial-image-wrapper">
            <img src="/images/testimonials/testimonial-chrisvnicholson.jpg" />
          </div>

          <cite class="testimonials-quote-citation"
            ><strong>Chris Nicholson</strong><span class="testimonial-cite-descriptor"
              >, Deeplearning4j</span
            >:</cite
          >
          <p class="testimonials-quote-text">
            We have an engineering team and open source community distributed over several
            continents, but the conversation lives in one place - and that's Gitter.
          </p>
        </blockquote>

        <blockquote class="testimonials-quote">
          <div class="testimonial-image-wrapper">
            <img src="/images/testimonials/testimonial-dreadknight.jpg" />
          </div>

          <cite class="testimonials-quote-citation"
            ><strong>Valentin Anastase</strong><span class="testimonial-cite-descriptor"
              >, Freezing Moon</span
            >:</cite
          >
          <p class="testimonials-quote-text">
            Other communication solutions for the projects I’ve been involved in were far from
            ideal. Switching to Gitter was one of the best decisions I've made and there's no going
            back now.
          </p>
        </blockquote>

        <blockquote class="testimonials-quote">
          <div class="testimonial-image-wrapper">
            <img src="/images/testimonials/testimonial-ttmc.jpg" />
          </div>

          <cite class="testimonials-quote-citation"
            ><strong>Troy McConaghy</strong><span class="testimonial-cite-descriptor"
              >, BigchainDB developer</span
            >:</cite
          >
          <p class="testimonials-quote-text">
            Gitter is the main way people contact us to ask questions about BigchainDB. I guess it
            just feels more open, immediate and personal.
          </p>
        </blockquote>

        <blockquote class="testimonials-quote">
          <div class="testimonial-image-wrapper">
            <img src="/images/testimonials/testimonial-krishnasrinivas.jpg" />
          </div>

          <cite class="testimonials-quote-citation"
            ><strong>Krishna Srinivas</strong><span class="testimonial-cite-descriptor"
              >, Minio</span
            >:</cite
          >
          <p class="testimonials-quote-text">
            Gitter is the IRC of the post-IRC era. It has helped us at Minio build and connect with
            our community really well.
          </p>
        </blockquote>

        <blockquote class="testimonials-quote">
          <div class="testimonial-image-wrapper">
            <img src="/images/testimonials/testimonial-samccone.jpeg" />
          </div>

          <cite class="testimonials-quote-citation"
            ><strong>Sam Saccone</strong><span class="testimonial-cite-descriptor"
              >, Marionette.js Lead</span
            >:</cite
          >
          <p class="testimonials-quote-text">
            Gitter has helped to bring the Marionette community together, turning it into a thriving
            collaborative environment that has been exceedingly beneficial to both our endusers and
            maintainers.
          </p>
        </blockquote>

        <blockquote class="testimonials-quote">
          <div class="testimonial-image-wrapper">
            <img src="/images/testimonials/testimonial-diasdavid.jpeg" />
          </div>

          <cite class="testimonials-quote-citation"
            ><strong>David Dias</strong><span class="testimonial-cite-descriptor"
              >, LXJS Conference Organiser</span
            >:</cite
          >
          <p class="testimonials-quote-text">
            Gitter was an essential tool, not only for organising LXJS but to create a thriving
            community amongst our attendees before, during and even after the conference.
          </p>
        </blockquote>

        <blockquote class="testimonials-quote">
          <div class="testimonial-image-wrapper">
            <img src="/images/testimonials/testimonial-doge.jpeg" />
          </div>

          <cite class="testimonials-quote-citation"
            ><strong>Doge</strong><span class="testimonial-cite-descriptor"
              >, Chief Woofing Officer</span
            >:</cite
          >
          <p class="testimonials-quote-text">Wow chat. Much awesome.</p>
        </blockquote>
      </div>

      <div class="testimonials-content-block">
        <h1 class="testimonials-heading">Loved by our users</h1>
        <p class="testimonials-main-description">
          Gitter is nothing without the people using it day in and day out.
        </p>
        <p>
          We need updated quotes! If you love Gitter, Tweet us <a
            href="https://twitter.com/gitchat"
            target="_blank">@gitchat</a
          > with what Gitter means to you or your community.
        </p>
      </div>
    </div>
  </section>

  <Footer />
</BaseLayout>

<style>
  .intro-panel {
    overflow: hidden;
    background-color: #512e92;
    background-image: url(../images/clouds-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .main-header {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .intro-main-content-wrapper {
    /* So the content goes on top of the map */
    z-index: 1;

    color: rgba(255, 255, 255, 0.75);
  }

  .intro-main-content-wrapper :where(a, h1, h2) {
    color: #ffffff;
  }

  .intro-title-block {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: baseline;
  }

  .intro-title-heading {
    font-size: 60px;
    line-height: 72px;

    @media (max-width: 600px) {
      margin-bottom: 2.5rem;

      /* h2 sizing */
      font-size: 28.43px;
      line-height: 45px;
    }
  }

  .gitter-element-news-link {
    display: inline-flex;
    align-items: center;
    padding: 18px;

    background: #fff;
    border-radius: 6px;

    color: #74726c;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;

    @media (max-width: 600px) {
      /* Space the title away from the Element block */
      margin-bottom: 16px;
    }
  }

  .gitter-element-news-logo-plus {
    margin-left: 6px;
    margin-right: 6px;
  }

  .gitter-element-news-link-text {
    margin-left: 22px;
  }

  .intro-description {
    max-width: 450px;
    margin-bottom: 40px;
    font-size: 21px;
    line-height: 30px;

    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  .intro-cta-panel-button {
    margin-bottom: 10px;
    margin-right: 24px;
  }

  .sign-in-full-text {
    display: block;

    @media (max-width: 600px) {
      display: none;
    }
  }

  .sign-in-short-text {
    display: none;

    @media (max-width: 600px) {
      display: block;
    }
  }

  .intro-legal a {
    color: currentColor;
  }

  .intro-mini-features-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0 30px;

    @media (max-width: 1200px) {
      display: block;
    }
  }

  .intro-mini-feature-item {
    flex: 1;
    padding-right: 55px;
    list-style: none;
  }

  .intro-map-wrapper {
    z-index: -1;
    position: absolute;
    right: -50px;
    top: 90px;

    @media (max-width: 800px) {
      display: none;
    }
  }

  .intro-map-image {
    width: 657px;
    height: 342px;
  }

  .trusted-by-panel {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .trusted-by-heading {
    color: #726c61;
  }

  .trusted-by-list {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 140px;

    margin-left: 0;
    list-style: none;
  }

  .trusted-by-list-item,
  .trusted-by-list-item--smaller {
    flex-basis: 160px;
    flex-shrink: 0;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .trusted-by-list-item--smaller {
    flex-basis: 140px;
  }

  .trusted-by-list-item-logo {
    width: 100%;
    height: auto;
  }

  .matrix-native-panel {
    position: relative;
    padding: 40px 0;
    background-color: #000;
    /* background: #000 linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* Same gradient but with more transparency so it appears more dull on the black background */
    background: #000
      linear-gradient(
        -45deg,
        rgba(238, 119, 82, 0.6),
        rgba(231, 60, 126, 0.6),
        rgba(35, 166, 213, 0.6),
        rgba(35, 213, 171, 0.6)
      );
    background-size: 400% 400%;
    color: #fff;

    animation: matrix-gradient-color-shift 10s ease infinite;

    &:before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background-image: url('/images/matrix-hero-spiro.svg');
      background-position: 100% 50%;
      background-size: cover;
      background-repeat: repeat;
      background-attachment: scroll;
    }
  }

  @keyframes matrix-gradient-color-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .matrix-primary-heading {
    &:after {
      opacity: 0.5;
    }
  }

  .matrix-native-panel-content {
    display: flex;
  }

  .matrix-native-panel-content-description {
    width: 60%;

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  .matrix-native-panel-content-logo-wrapper {
    flex: 1;
    padding-left: 50px;

    @media (max-width: 900px) {
      display: none;
    }
  }

  .matrix-native-panel-content-logo {
    width: 100%;
  }

  .matrix-description-paragraph {
    max-width: 700px;

    font-size: 21px;
    line-height: 30px;

    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 26px;
    }

    & > a {
      color: currentColor;
    }

    & > code {
      padding: 1px 5px;
      background-color: transparent;
      border: 1px solid #23a6d5;
      border-radius: 4px;
      color: #23a6d5;
    }
  }

  .apps-panel {
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 80px;

    color: #918b80;
  }

  .apps-screenshot-wrapper {
    float: left;
    position: relative;
    width: 750px;
    margin-left: -250px;
    margin-top: -60px;

    transform: translateX(-750px);

    transition: transform 0.66s cubic-bezier(0.31, -0.13, 0.5, 1.39);

    .apps-panel.is-visible & {
      transform: translateX(0px);
    }

    @media (max-width: 1200px) {
      float: none;
      width: 100%;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .apps-screenshot-image {
    max-width: 100%;
  }

  .apps-content-wrapper {
    width: 450px;
    float: right;
    clear: right;

    @media (max-width: 1200px) {
      width: auto;
      float: none;
    }
  }

  .apps-heading {
    color: #726c61;
  }

  .apps-main-description,
  .testimonials-main-description {
    font-size: 21px;
    line-height: 30px;

    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  .app-button-block {
    display: flex;

    @media (max-width: 600px) {
      display: block;
    }
  }

  .app-button {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 25px;

    background: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: inset 0 0 0 2px rgb(132 129 123 / 15%);

    color: #84817b;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    &:hover,
    &:focus {
      background: rgba(200, 200, 200, 0.1);
    }

    &:active {
      color: #84817b !important;
      background: #fff;
      box-shadow: inset 0 0 0 2px rgb(132 129 123 / 15%), inset 0 2px 4px rgb(0 0 0 / 15%);
    }

    & + & {
      margin-left: 20px;

      @media (max-width: 600px) {
        margin-left: 0px;
        margin-top: 10px;
      }
    }
  }

  .testimonials-panel {
    min-height: 520px;
    padding-top: 80px;
    padding-bottom: 80px;

    background: #ea9448;

    @media (max-width: 1200px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .testimonials-content-wrapper {
    display: flex;

    @media (max-width: 1200px) {
      display: block;
    }
  }

  .testimonials-quotes {
    flex: 1;
    position: relative;
    margin-left: 150px;
    margin-right: 60px;

    @media (max-width: 1200px) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  .testimonials-quote {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 35px 40px 40px;
    margin: 0;

    background: #fff;
    border-radius: 6px;

    opacity: 0;

    transition: opacity 0.4s 0.75s ease-in;

    &.is-active {
      opacity: 1;
    }

    &::before {
      content: url(/images/quote-arrow.png);
      position: absolute;
      left: 0px;
      top: 30px;
      transform: translateX(-100%);

      @media (max-width: 1200px) {
        left: auto;
        top: auto;
        right: 30px;
        bottom: -21px;
        transform: rotate(-90deg);
      }
    }
  }

  .testimonials-quote-citation {
    display: block;
    padding-bottom: 15px;
    color: #918b80;
    font-size: 14px;
    font-style: normal;
  }

  .testimonials-quote-text {
    color: #6d665a;
    font-size: 26px;
    line-height: 36px;

    @media (max-width: 600px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  .testimonial-image-wrapper {
    overflow: hidden;
    position: absolute;
    left: -150px;
    top: 0;

    width: 100px;
    height: 100px;

    border-radius: 6px;

    & > img {
      width: 100%;
    }

    @media (max-width: 1200px) {
      top: 32px;
      left: auto;
      right: 40px;

      width: 32px;
      height: 32px;
    }
  }

  .testimonials-content-block {
    width: 450px;

    color: rgba(255, 255, 255, 0.8);

    :where(a) {
      color: #fff;
    }

    @media (max-width: 1200px) {
      width: auto;
    }
  }

  .testimonials-heading {
    color: #fff;
  }
</style>

<script>
  const QUOTE_CYCLE_TIME_MS = 7000;

  const testimonialQuoteWrapperEl = document.querySelector<HTMLElement>('.testimonials-quotes');
  const testimonialQuoteEls = [...document.querySelectorAll<HTMLElement>('.testimonials-quote')];

  function reconcileQuoteHeight() {
    console.log('reconcileQuoteHeight');
    // Set the min-height of the wrapper so it fits the tallest quote in the bunch
    if (testimonialQuoteWrapperEl) {
      const tallestQuoteHeight = testimonialQuoteEls.reduce((tallestHeight, testimonialQuoteEl) => {
        const currentElementHeight = testimonialQuoteEl.offsetHeight;
        if (currentElementHeight > tallestHeight) {
          return currentElementHeight;
        }

        return tallestHeight;
      }, 0);

      testimonialQuoteWrapperEl.style.minHeight = `${tallestQuoteHeight}px`;
    } else {
      console.warn(`\`.testimonial-quotes\` does not exist on the page so we can't set the height`);
    }
  }

  // Keep the quote height updated any time the page changes size
  const resizeObserver = new ResizeObserver((entries) => {
    reconcileQuoteHeight();
  });
  resizeObserver.observe(<Element>testimonialQuoteWrapperEl);

  // Cycle the list of quotes from one to next
  let quoteCycleCount = 0;
  setInterval(() => {
    const activeQuoteIndexBefore = quoteCycleCount % testimonialQuoteEls.length;
    testimonialQuoteEls[activeQuoteIndexBefore].classList.remove('is-active');

    quoteCycleCount++;

    const activeQuoteIndexAfter = quoteCycleCount % testimonialQuoteEls.length;
    testimonialQuoteEls[activeQuoteIndexAfter].classList.add('is-active');
  }, QUOTE_CYCLE_TIME_MS);

  // Slide the apps screenshot into place as it comes into view
  const appsPanelEl = document.querySelector('.apps-panel');
  if (appsPanelEl) {
    const appsIntersectionObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        console.log('intersect', entry.isIntersecting);
        if (entry.isIntersecting) {
          appsPanelEl.classList.add('is-visible');
        }
      });
    });
    appsIntersectionObserver.observe(appsPanelEl);
  } else {
    console.warn(`\`.apps-panel\` does not exist on the page so we can't set it visible or not`);
  }
</script>
