---
import BasePageLayout from '../layouts/BasePageLayout.astro';
import Footer from '../components/Footer.astro';
import HeaderContent from '../components/HeaderContent.astro';

const buttonSizeVariants = ['normal', 'small', 'xsmall'];
const buttonColorVariants = ['clouds', 'caribbean', 'jaffa', 'pampas', 'thunder', 'ruby'];
---

<BasePageLayout title="Gitter — Styleguide">
  <h1>Styleguide</h1>

  {buttonSizeVariants.map((buttonSizeVariant) => (
    <section>
      <h2 class="section-title">Primary buttons ({buttonSizeVariant})</h1>
      <div class="section-list">
        {buttonColorVariants.map((buttonColorVariant) => (
          <div class:list={['buttons-list-item', { 'clouds-mock-background': buttonColorVariant === 'clouds'}]}>
            <button class=`button--kind-primary button--size-${buttonSizeVariant} button--color-${buttonColorVariant}`>{buttonColorVariant}</button>
          </div>
        ))}
        <div class="buttons-list-item">
          <button class=`button--kind-primary button--size-${buttonSizeVariant} button--color-caribbean` disabled="">Disabled</button>
          <button class=`button--kind-primary button--size-${buttonSizeVariant} button--color-jaffa` disabled="">Disabled</button>
          <button class=`button--kind-primary button--size-${buttonSizeVariant} button--color-pampas` disabled="">Disabled</button>
          <button class=`button--kind-primary button--size-${buttonSizeVariant} button--color-thunder` disabled="">Disabled</button>
        </div>
      </div>
    </section>
  ))}

  <section>
    <h2 class="section-title">Subdued buttons</h1>
    <div class="section-list">
      {buttonColorVariants.map((buttonColorVariant) => (
        <div class:list={['buttons-list-item', { 'clouds-mock-background': buttonColorVariant === 'clouds'}]}>
          {buttonSizeVariants.map((buttonSizeVariant) => (
          <button class=`button--kind-subdued button--size-${buttonSizeVariant} button--color-${buttonColorVariant}`>{buttonColorVariant}</button>
          ))}
        </div>
      ))}
      <div class="buttons-list-item">
        <button class=`button--kind-subdued button--size-normal button--color-caribbean` disabled="">Disabled</button>
        <button class=`button--kind-subdued button--size-normal button--color-jaffa` disabled="">Disabled</button>
        <button class=`button--kind-subdued button--size-normal button--color-pampas` disabled="">Disabled</button>
        <button class=`button--kind-subdued button--size-normal button--color-thunder` disabled="">Disabled</button>
      </div>
    </div>
  </section>
</BasePageLayout>

<style>
  .section-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .buttons-list-item {
    flex: 0 0 33.33332%;
    text-align: center;
    box-sizing: border-box;
    padding: 2rem;
  }

  .clouds-mock-background {
    background-color: var(--clouds-mock);
  }

  .buttons-list-item > * {
    margin: 5px;
  }
</style>
