---
import { Icon } from 'astro-icon';
import SiteNav from '../components/SiteNav.astro';
import type { SiteNavItem } from '../components/SiteNav.astro';
import LogoCluster from '../components/LogoCluster.astro';

export interface Props {
  navItems: SiteNavItem[];
}

const { navItems } = Astro.props;
---

<div class="header-content">
  <div class="header-full-nav">
    <LogoCluster />
    <SiteNav class="site-nav" navItems={navItems} />
  </div>
  <a class="sign-in-button" href="https://app.gitter.im/">
    <span class="sign-in-full-text">Sign-in to start talking</span>
    <span class="sign-in-short-text">Sign-in</span>
  </a>
</div>

<style>
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-full-nav {
    display: flex;
    align-items: center;
  }

  .logo-cluster {
    margin-right: 44px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
  }

  .site-nav {
    @media (max-width: 750px) {
      display: none;
    }
  }

  .sign-in-button {
    display: inline-block;
    padding: 16px 25px;

    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 6px;

    color: #fff;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .sign-in-full-text {
    display: block;

    @media (max-width: 950px) {
      display: none;
    }
  }

  .sign-in-short-text {
    display: none;

    @media (max-width: 950px) {
      display: block;
    }
  }
</style>
