---
import type { SiteNavItem } from '../components/SiteNav.astro';
import HeaderContent from '../components/HeaderContent.astro';

export interface Props {
  navItems: SiteNavItem[];
}

const { navItems } = Astro.props;
---

<header class="header-top">
  <div class="panel-content-wrapper">
    <HeaderContent navItems={navItems} />
  </div>
</header>

<style>
  .header-top {
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #512e92;
    background-image: url(../images/clouds-banner.jpg);
    background-repeat: no-repeat;
    background-position: 0% center;
    background-size: cover;
  }
</style>
